<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyou100.ssm.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyou100.ssm.model.User" >
    <id column="u_id" property="uId" jdbcType="INTEGER" />
    <result column="u_name" property="uName" jdbcType="VARCHAR" />
    <result column="u_pwd" property="uPwd" jdbcType="VARCHAR" />
    <result column="u_dapartmentid" property="uDapartmentid" jdbcType="INTEGER" />
    <result column="u_roleid" property="uRoleid" jdbcType="INTEGER" />
    <result column="u_sex" property="uSex" jdbcType="VARCHAR" />
    <result column="u_phone" property="uPhone" jdbcType="VARCHAR" />
    <result column="u_address" property="uAddress" jdbcType="VARCHAR" />
    <result column="u_age" property="uAge" jdbcType="INTEGER" />
    <result column="u_telphone" property="uTelphone" jdbcType="VARCHAR" />
    <result column="u_idcard" property="uIdcard" jdbcType="VARCHAR" />
    <result column="u_mail" property="uMail" jdbcType="VARCHAR" />
    <result column="u_qq" property="uQq" jdbcType="VARCHAR" />
    <result column="u_hobby" property="uHobby" jdbcType="VARCHAR" />
    <result column="u_edu" property="uEdu" jdbcType="VARCHAR" />
    <result column="u_salarycard" property="uSalarycard" jdbcType="VARCHAR" />
    <result column="u_nation" property="uNation" jdbcType="VARCHAR" />
    <result column="u_marry" property="uMarry" jdbcType="VARCHAR" />
    <result column="u_remark" property="uRemark" jdbcType="VARCHAR" />
    <result column="u_updatetime" property="uUpdatetime" jdbcType="TIMESTAMP" />
    <result column="u_pic" property="uPic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    u_id, u_name, u_pwd, u_dapartmentid, u_roleid, u_sex, u_phone, u_address, u_age, 
    u_telphone, u_idcard, u_mail, u_qq, u_hobby, u_edu, u_salarycard, u_nation, u_marry, 
    u_remark, u_updatetime, u_pic
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhiyou100.ssm.model.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhiyou100.ssm.model.UserExample" >
    delete from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhiyou100.ssm.model.User" >
    insert into t_user (u_id, u_name, u_pwd, 
      u_dapartmentid, u_roleid, u_sex, 
      u_phone, u_address, u_age, 
      u_telphone, u_idcard, u_mail, 
      u_qq, u_hobby, u_edu, 
      u_salarycard, u_nation, u_marry, 
      u_remark, u_updatetime, u_pic
      )
    values (#{uId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uPwd,jdbcType=VARCHAR}, 
      #{uDapartmentid,jdbcType=INTEGER}, #{uRoleid,jdbcType=INTEGER}, #{uSex,jdbcType=VARCHAR}, 
      #{uPhone,jdbcType=VARCHAR}, #{uAddress,jdbcType=VARCHAR}, #{uAge,jdbcType=INTEGER}, 
      #{uTelphone,jdbcType=VARCHAR}, #{uIdcard,jdbcType=VARCHAR}, #{uMail,jdbcType=VARCHAR}, 
      #{uQq,jdbcType=VARCHAR}, #{uHobby,jdbcType=VARCHAR}, #{uEdu,jdbcType=VARCHAR}, 
      #{uSalarycard,jdbcType=VARCHAR}, #{uNation,jdbcType=VARCHAR}, #{uMarry,jdbcType=VARCHAR}, 
      #{uRemark,jdbcType=VARCHAR}, #{uUpdatetime,jdbcType=TIMESTAMP}, #{uPic,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhiyou100.ssm.model.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        u_id,
      </if>
      <if test="uName != null" >
        u_name,
      </if>
      <if test="uPwd != null" >
        u_pwd,
      </if>
      <if test="uDapartmentid != null" >
        u_dapartmentid,
      </if>
      <if test="uRoleid != null" >
        u_roleid,
      </if>
      <if test="uSex != null" >
        u_sex,
      </if>
      <if test="uPhone != null" >
        u_phone,
      </if>
      <if test="uAddress != null" >
        u_address,
      </if>
      <if test="uAge != null" >
        u_age,
      </if>
      <if test="uTelphone != null" >
        u_telphone,
      </if>
      <if test="uIdcard != null" >
        u_idcard,
      </if>
      <if test="uMail != null" >
        u_mail,
      </if>
      <if test="uQq != null" >
        u_qq,
      </if>
      <if test="uHobby != null" >
        u_hobby,
      </if>
      <if test="uEdu != null" >
        u_edu,
      </if>
      <if test="uSalarycard != null" >
        u_salarycard,
      </if>
      <if test="uNation != null" >
        u_nation,
      </if>
      <if test="uMarry != null" >
        u_marry,
      </if>
      <if test="uRemark != null" >
        u_remark,
      </if>
      <if test="uUpdatetime != null" >
        u_updatetime,
      </if>
      <if test="uPic != null" >
        u_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uName != null" >
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPwd != null" >
        #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="uDapartmentid != null" >
        #{uDapartmentid,jdbcType=INTEGER},
      </if>
      <if test="uRoleid != null" >
        #{uRoleid,jdbcType=INTEGER},
      </if>
      <if test="uSex != null" >
        #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null" >
        #{uPhone,jdbcType=VARCHAR},
      </if>
      <if test="uAddress != null" >
        #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uAge != null" >
        #{uAge,jdbcType=INTEGER},
      </if>
      <if test="uTelphone != null" >
        #{uTelphone,jdbcType=VARCHAR},
      </if>
      <if test="uIdcard != null" >
        #{uIdcard,jdbcType=VARCHAR},
      </if>
      <if test="uMail != null" >
        #{uMail,jdbcType=VARCHAR},
      </if>
      <if test="uQq != null" >
        #{uQq,jdbcType=VARCHAR},
      </if>
      <if test="uHobby != null" >
        #{uHobby,jdbcType=VARCHAR},
      </if>
      <if test="uEdu != null" >
        #{uEdu,jdbcType=VARCHAR},
      </if>
      <if test="uSalarycard != null" >
        #{uSalarycard,jdbcType=VARCHAR},
      </if>
      <if test="uNation != null" >
        #{uNation,jdbcType=VARCHAR},
      </if>
      <if test="uMarry != null" >
        #{uMarry,jdbcType=VARCHAR},
      </if>
      <if test="uRemark != null" >
        #{uRemark,jdbcType=VARCHAR},
      </if>
      <if test="uUpdatetime != null" >
        #{uUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="uPic != null" >
        #{uPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhiyou100.ssm.model.UserExample" resultType="java.lang.Integer" >
    select count(*) from t_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user
    <set >
      <if test="record.uId != null" >
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.uName != null" >
        u_name = #{record.uName,jdbcType=VARCHAR},
      </if>
      <if test="record.uPwd != null" >
        u_pwd = #{record.uPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.uDapartmentid != null" >
        u_dapartmentid = #{record.uDapartmentid,jdbcType=INTEGER},
      </if>
      <if test="record.uRoleid != null" >
        u_roleid = #{record.uRoleid,jdbcType=INTEGER},
      </if>
      <if test="record.uSex != null" >
        u_sex = #{record.uSex,jdbcType=VARCHAR},
      </if>
      <if test="record.uPhone != null" >
        u_phone = #{record.uPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.uAddress != null" >
        u_address = #{record.uAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.uAge != null" >
        u_age = #{record.uAge,jdbcType=INTEGER},
      </if>
      <if test="record.uTelphone != null" >
        u_telphone = #{record.uTelphone,jdbcType=VARCHAR},
      </if>
      <if test="record.uIdcard != null" >
        u_idcard = #{record.uIdcard,jdbcType=VARCHAR},
      </if>
      <if test="record.uMail != null" >
        u_mail = #{record.uMail,jdbcType=VARCHAR},
      </if>
      <if test="record.uQq != null" >
        u_qq = #{record.uQq,jdbcType=VARCHAR},
      </if>
      <if test="record.uHobby != null" >
        u_hobby = #{record.uHobby,jdbcType=VARCHAR},
      </if>
      <if test="record.uEdu != null" >
        u_edu = #{record.uEdu,jdbcType=VARCHAR},
      </if>
      <if test="record.uSalarycard != null" >
        u_salarycard = #{record.uSalarycard,jdbcType=VARCHAR},
      </if>
      <if test="record.uNation != null" >
        u_nation = #{record.uNation,jdbcType=VARCHAR},
      </if>
      <if test="record.uMarry != null" >
        u_marry = #{record.uMarry,jdbcType=VARCHAR},
      </if>
      <if test="record.uRemark != null" >
        u_remark = #{record.uRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.uUpdatetime != null" >
        u_updatetime = #{record.uUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uPic != null" >
        u_pic = #{record.uPic,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user
    set u_id = #{record.uId,jdbcType=INTEGER},
      u_name = #{record.uName,jdbcType=VARCHAR},
      u_pwd = #{record.uPwd,jdbcType=VARCHAR},
      u_dapartmentid = #{record.uDapartmentid,jdbcType=INTEGER},
      u_roleid = #{record.uRoleid,jdbcType=INTEGER},
      u_sex = #{record.uSex,jdbcType=VARCHAR},
      u_phone = #{record.uPhone,jdbcType=VARCHAR},
      u_address = #{record.uAddress,jdbcType=VARCHAR},
      u_age = #{record.uAge,jdbcType=INTEGER},
      u_telphone = #{record.uTelphone,jdbcType=VARCHAR},
      u_idcard = #{record.uIdcard,jdbcType=VARCHAR},
      u_mail = #{record.uMail,jdbcType=VARCHAR},
      u_qq = #{record.uQq,jdbcType=VARCHAR},
      u_hobby = #{record.uHobby,jdbcType=VARCHAR},
      u_edu = #{record.uEdu,jdbcType=VARCHAR},
      u_salarycard = #{record.uSalarycard,jdbcType=VARCHAR},
      u_nation = #{record.uNation,jdbcType=VARCHAR},
      u_marry = #{record.uMarry,jdbcType=VARCHAR},
      u_remark = #{record.uRemark,jdbcType=VARCHAR},
      u_updatetime = #{record.uUpdatetime,jdbcType=TIMESTAMP},
      u_pic = #{record.uPic,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyou100.ssm.model.User" >
    update t_user
    <set >
      <if test="uName != null" >
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPwd != null" >
        u_pwd = #{uPwd,jdbcType=VARCHAR},
      </if>
      <if test="uDapartmentid != null" >
        u_dapartmentid = #{uDapartmentid,jdbcType=INTEGER},
      </if>
      <if test="uRoleid != null" >
        u_roleid = #{uRoleid,jdbcType=INTEGER},
      </if>
      <if test="uSex != null" >
        u_sex = #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null" >
        u_phone = #{uPhone,jdbcType=VARCHAR},
      </if>
      <if test="uAddress != null" >
        u_address = #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uAge != null" >
        u_age = #{uAge,jdbcType=INTEGER},
      </if>
      <if test="uTelphone != null" >
        u_telphone = #{uTelphone,jdbcType=VARCHAR},
      </if>
      <if test="uIdcard != null" >
        u_idcard = #{uIdcard,jdbcType=VARCHAR},
      </if>
      <if test="uMail != null" >
        u_mail = #{uMail,jdbcType=VARCHAR},
      </if>
      <if test="uQq != null" >
        u_qq = #{uQq,jdbcType=VARCHAR},
      </if>
      <if test="uHobby != null" >
        u_hobby = #{uHobby,jdbcType=VARCHAR},
      </if>
      <if test="uEdu != null" >
        u_edu = #{uEdu,jdbcType=VARCHAR},
      </if>
      <if test="uSalarycard != null" >
        u_salarycard = #{uSalarycard,jdbcType=VARCHAR},
      </if>
      <if test="uNation != null" >
        u_nation = #{uNation,jdbcType=VARCHAR},
      </if>
      <if test="uMarry != null" >
        u_marry = #{uMarry,jdbcType=VARCHAR},
      </if>
      <if test="uRemark != null" >
        u_remark = #{uRemark,jdbcType=VARCHAR},
      </if>
      <if test="uUpdatetime != null" >
        u_updatetime = #{uUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="uPic != null" >
        u_pic = #{uPic,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhiyou100.ssm.model.User" >
    update t_user
    set u_name = #{uName,jdbcType=VARCHAR},
      u_pwd = #{uPwd,jdbcType=VARCHAR},
      u_dapartmentid = #{uDapartmentid,jdbcType=INTEGER},
      u_roleid = #{uRoleid,jdbcType=INTEGER},
      u_sex = #{uSex,jdbcType=VARCHAR},
      u_phone = #{uPhone,jdbcType=VARCHAR},
      u_address = #{uAddress,jdbcType=VARCHAR},
      u_age = #{uAge,jdbcType=INTEGER},
      u_telphone = #{uTelphone,jdbcType=VARCHAR},
      u_idcard = #{uIdcard,jdbcType=VARCHAR},
      u_mail = #{uMail,jdbcType=VARCHAR},
      u_qq = #{uQq,jdbcType=VARCHAR},
      u_hobby = #{uHobby,jdbcType=VARCHAR},
      u_edu = #{uEdu,jdbcType=VARCHAR},
      u_salarycard = #{uSalarycard,jdbcType=VARCHAR},
      u_nation = #{uNation,jdbcType=VARCHAR},
      u_marry = #{uMarry,jdbcType=VARCHAR},
      u_remark = #{uRemark,jdbcType=VARCHAR},
      u_updatetime = #{uUpdatetime,jdbcType=TIMESTAMP},
      u_pic = #{uPic,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
</mapper>